<!DOCTYPE html>
<html xmlns:th ="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Department List</title>
</head>
</head>
<body>
	 <th:block th:insert = "Header.html"></th:block>   
 

	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-center bg-primary">
				<h5>Department Details</h5>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Department Name</th>
							<th>Department HoD</th>
							<th>Department Phone</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each = "department: ${dList}">
							<td>[[${department.dpt_name}]]</td>
							<td>[[${department.dpt_head}]]</td>
							<td>[[${department.dpt_phone}]]</td>
							<td>  <!-- @{ is used to define the links and urls in  thymeleaf} -->
							    <a th:href = "@{/department/edit(id=${department.id})}"><input type= "submit" value ="Edit" class ="btn btn-success"/></a>
							    <a th:href = "@{/department/delete(id=${department.id})}"><input type= "submit" value ="Delete" class ="btn btn-danger"/></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="card-footer text-center bg-warning">copyright@2024</div>
		</div>

	</div>

</body>
</html>