<!DOCTYPE html>
<html xmlns:th ="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Department</title>
</head>
<body>
    <th:block th:insert = "Header.html"></th:block>   
 
	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-center bg-primary">
				<h5>Department Details</h5>
			</div>
			<div class="card-body">
				<form action="/department/update" method ="post" th:object ="${dModel}">
					<div class="row">
						<div class="col-4">Department Name</div>

						<div class="col-6">
							<input type="text" th:field ="*{dpt_name}" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Department Head(HoD)</div>

						<div class="col-6">
							<input type="text"  th:field= "*{dpt_head}" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Department Phone</div>

						<div class="col-6">
							<input type="text" th:field="*{dpt_phone}" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4"></div>

						<div class="col-6">
							<input type="submit" value="Update" class ="btn btn-success" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>
					    <input type ="hidden" th:field ="*{id}"/>
					</form>
			</div>
			

			<div class="card-footer text-center bg-warning">copyright@2024</div>
		</div>

	</div>


</body>
</html>