<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Form</title>
</head>
<body>
	<th:block th:insert="Header.html"></th:block>

	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-center bg-primary">
				<h5>Employee Edit Form</h5>
			</div>
			<div class="card-body">
				<form action="/employee/update" method="post" th:object="${empObj}">
					<div class="row p-2">
						<div class="col-4">First Name</div>

						<div class="col-6">
							<input type="text" th:field="*{fname}" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Last Name</div>

						<div class="col-6">
							<input type="text" th:field="*{lname}" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>
					<div class="row p-2">
						<div class="col-4">Gender</div>

						<div class="col-6">
							<input type="radio" th:field="*{gender}" value="male" />Male
							&nbsp &nbsp <input type="radio" th:field="*{gender}"
								value="female" />Female
							<!-- name must me same in the pojo class -->
						</div>
					</div>
					<div class="row p-2">
						<div class="col-4">Phone</div>

						<div class="col-6">
							<input type="text" th:field="*{phone}" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Email</div>

						<div class="col-6">
							<input type="email" th:field="*{email}" class="form-control" />
							<!-- name must me same in the Employee pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Dob</div>

						<div class="col-6">
							<input type="date" th:field="*{dob}" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Company</div>

						<div class="col-6">
							<input type="text" th:field="*{company}" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>




					<div class="row p-2">
						<div class="col-4">Department</div>
						<div class="col-6">
							<select th:field="*{department}" class="form-control">
								<option value="">Select</option>
								<option th:each="d : ${dList}" th:value="${d.id}"
									th:text="${d.dpt_name}"
									th:selected="${d.id == empObj.department?.id}"></option>
							</select>
						</div>
					</div>


					<div class="row p-2">
						<div class="col-4">Post</div>

						<div class="col-6">
							<input type="text" th:field="*{post}" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">JoinDate</div>

						<div class="col-6">
							<input type="date" th:field="*{joinDate}" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Salary</div>

						<div class="col-6">
							<input type="text" th:field="*{salary}" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>


					<div class="row p-2">
						<div class="col-4">Country</div>

						<div class="col-6">
							<input type="text" th:field="*{address.country}"
								class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">City</div>

						<div class="col-6">
							<input type="text" th:field="*{address.city}"
								class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>


					<div class="row p-2">
						<div class="col-4">State</div>

						<div class="col-6">
							<select th:field="*{address.state}" class="form-control">
								<option value="">Select</option>
								<option value="koshi">Koshi</option>
								<option value="madhesh">Madhesh</option>
								<option value="bagmati">Bagmati</option>
								<option value="gandaki">Gandaki</option>
								<option value="lumbini">Lumbini</option>
								<option value="karnali">Karnali</option>
								<option value="sudurpaschim">Sudurpaschim</option>
							</select>
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">ZipCode</div>

						<div class="col-6">
							<input type="text" th:field="*{address.zipcode}"
								class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>


					<div class="row p-2">
						<div class="col-4">Projects</div>

						<div class="col-6">
							<input type="checkbox" th:field="*{projects}" value="Project-1" />Project-1
							<input type="checkbox" th:field="*{projects}" value="Project-2" />Project-2
							<input type="checkbox" th:field="*{projects}" value="Project-3" />Project-3
							<input type="checkbox" th:field="*{projects}" value="Project-4" />Project-4
							<input type="checkbox" th:field="*{projects}" value="Project-5" />Project-5
							<input type="checkbox" th:field="*{projects}" value="Project-6" />Project-6
							<!-- name must me same in the pojo class -->
						</div>
					</div>



					<div class="row p-2">
						<div class="col-4"></div>

						<div class="col-6">
							<input type="submit" value="update" class="btn btn-success" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>
					<input type="hidden" th:field="*{id}" />
				</form>
			</div>


			<div class="card-footer text-center bg-warning">copyright@2024</div>
		</div>

	</div>

</body>
</html>