<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Form</title>
</head>
<body>
	<th:block th:insert="Header.html"></th:block>

	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-center bg-primary">
				<h5>Employee Details</h5>
			</div>
			<div class="card-body">
				<form action="/employee/add" method="post">
					<div class="row p-2">
						<div class="col-4">First Name</div>

						<div class="col-6">
							<input type="text" name="fname" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Last Name</div>

						<div class="col-6">
							<input type="text" name="lname" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>
					<div class="row p-2">
						<div class="col-4">Gender</div>

						<div class="col-6">
						      <input type="radio" name="gender" value="male" />Male &nbsp &nbsp
						      <input type="radio" name="gender" value="female" />Female
							<!-- name must me same in the pojo class -->
						</div>
					</div>
					<div class="row p-2">
						<div class="col-4">Phone</div>

						<div class="col-6">
							<input type="text" name="phone" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Email </div>

						<div class="col-6">
							<input type="email" name="email" class="form-control" />
							<!-- name must me same in the Employee pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Dob</div>

						<div class="col-6">
							<input type="date" name="dob" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Company</div>

						<div class="col-6">
							<input type="text" name="company" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>


					<div class="row p-2">
						<div class="col-4">Department</div>

						<div class="col-6">
							<select name="department" class="form-control">
								<option value="">Select</option>
								<option th:each="d :${dList}" th:value="${d.id}">[[${d.dpt_name}]]</option>
							</select>

							<!-- name must me same in the pojo class -->
						</div>
					</div>


					<div class="row p-2">
						<div class="col-4">Post</div>

						<div class="col-6">
							<input type="text" name="post" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">JoinDate</div>

						<div class="col-6">
							<input type="date" name="joinDate" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Salary</div>

						<div class="col-6">
							<input type="text" name="salary" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>


					<div class="row p-2">
						<div class="col-4">Country</div>

						<div class="col-6">
							<input type="text" name="address.country" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">City</div>

						<div class="col-6">
							<input type="text" name="address.city" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>


					<div class="row p-2">
						<div class="col-4">State</div>

						<div class="col-6">
							<select name="address.state" class="form-control">
								<option value="">Select</option>
								<option value="koshi">Koshi</option>
								<option value="madhesh">Madhesh</option>
								<option value="bagmati">Bagmati</option>
								<option value="gandaki">Gandaki</option>
								<option value="lumbini">Lumbini</option>
								<option value="karnali">Karnali</option>
								<option value="sudurpaschim">Sudurpaschim</option>
							</select>
							<!-- name must me same in the pojo class -->
						</div>
					</div>
					
					<div class="row p-2">
						<div class="col-4">ZipCode</div>

						<div class="col-6">
							<input type="text" name="address.zipcode" class="form-control" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>
					
								
					<div class="row p-2">
						<div class="col-4">Projects</div>

						<div class="col-6">
							<input type="checkbox" name="projects" value= "Project-1"/>Project-1
							<input type="checkbox" name="projects" value= "Project-2"/>Project-2
							<input type="checkbox" name="projects" value= "Project-3"/>Project-3
							<input type="checkbox" name="projects" value= "Project-4"/>Project-4
							<input type="checkbox" name="projects" value= "Project-5"/>Project-5
							<input type="checkbox" name="projects" value= "Project-6"/>Project-6
							<!-- name must me same in the pojo class -->
						</div>
					</div>
					


					<div class="row p-2">
						<div class="col-4"></div>

						<div class="col-6">
							<input type="submit" value="Add" class="btn btn-success" />
							<!-- name must me same in the pojo class -->
						</div>
					</div>
				</form>
			</div>


			<div class="card-footer text-center bg-warning">copyright@2024</div>
		</div>

	</div>

</body>
</html>